# Environment variables
.env
expense_tracker/.env

# Database
db.sqlite3

# Python cache
__pycache__/
*.pyc

# Django migrations (optional if you regenerate often)
*/migrations/*.py
*/migrations/__pycache__/

# Virtual environment
venv/
