# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
ENV/
env/
*.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Media & static files
/media/
staticfiles/
static/

# Migrations (optional – ignore if you regenerate often)
*/migrations/*.py
*/migrations/__pycache__/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.docker/
